$blue = #2693ff
$blue-darker = #1182f2
$blue-lighter = #46a3ff
$red = #ff2e79
$yellow = #ffc42e
$green = #1ad18f
$gray = #a6c1d2
$white = #fff

$primary-color = $blue
$primary-selected-color = $blue-darker
$primary-border-color = $blue-lighter
$error-color = $red
$warn-color = $yellow
$success-color = $green

$color = #283848
$input-color = #bfdaeb
$bg-color = #e9f4fb
$side-bg-color = #f4fbff
$checkbox-color = #e2eef5