@font-face 
    font-family SVN-Gilroy
    font-weight lighter
    font-style normal
    src url('../fonts/svn-gilroy/SVN-Gilroy Thin.ttf') format("truetype")

@font-face 
    font-family SVN-Gilroy
    font-weight normal
    font-style normal
    src url('../fonts/svn-gilroy/SVN-Gilroy Regular.ttf') format("truetype")

@font-face 
    font-family SVN-Gilroy
    font-weight bold
    font-style normal
    src url('../fonts/svn-gilroy/SVN-Gilroy Bold.ttf') format("truetype")

@font-face 
    font-family SVN-Gilroy
    font-weight normal
    font-style italic
    src url('../fonts/svn-gilroy/SVN-Gilroy Italic.ttf') format("truetype")
