@font-face 
    font-family SVN-Gilroy
    font-style normal
    font-weight normal
    src url('../fonts/svn-gilroy/SVN-Gilroy Regular.ttf')


@font-face 
    font-family SVN-Gilroy
    font-weight bold
    font-style bold
    src url('../fonts/svn-gilroy/SVN-Gilroy Bold.ttf')


