@import "./_colors.styl"
@import "./_fonts.styl"

$font-family = SVN-Gilroy

* 
    margin 0
    padding 0
    box-sizing border-box

#app
    color $color
    font-family $font-family
    font-weight normal
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

// CHANGE COLOR OF INPUT PLACEHOLDER PLACEHOLDER
::placeholder 
  color $input-color

:-ms-input-placeholder  // Internet Explorer 10-11 
 color $input-color

::-ms-input-placeholder  // Microsoft Edge 
 color $input-color


button
    border none
    font-family $font-family
    color white
    cursor pointer

a
    color $primary-color

.text-emphasis
    color $primary-color

// MAIN LAYOUT STYLES

// SIDENAV STYLES
.sidenav-container
    background-color $primary-color
    border-right: 1px solid #e3eff6

    .nav-item
        padding 4px 0
        border 1px solid $primary-border-color
        border-bottom none
    
        &:last-child
            border-bottom 1px solid $primary-border-color

        &:hover
            background-color $primary-selected-color

        &.active
            background-color $primary-selected-color
    
    a
      color $white

// BACKGROUND COLOR STYLES
.bg-defalt
    background-color $bg-color

.bg-primary 
  background-color $primary-color

.bg-success
    background-color $success-color

// TOOLBAR STYLES 
.toolbar
    background-color $white

.user-info
    .user-data
        .user-occupation
            color $primary-color

// MAIN PAGE STYLES
.categories-list-container
    background-color $side-bg-color


// GENERAL COMPONENTS STYLES

// BADGE STYLES
.badge
    color $white
    background-color $primary-color

    &.urgent
        background-color $red

    &.important
        background-color $yellow

// PILL STYLES
.pill
    color $white
    background-color $primary-color

    &.urgent
        background-color $red

    &.important
        background-color $yellow


// INPUT STYLES
.input-container
    .input-field
        font-family $font-family
        font-weight bold
        border solid 2px $input-color
        outline none
 
        &:focus
            border solid 2px $primary-color

.input-icon
    color $input-color

// CARD STYLES
.card-container
    background-color $white
    box-shadow: 1px 1px 5px 0px $input-color

// FLOAT ACTION BUTTON STYLES
$float-action-button-color = $success-color

.float-action-button
    background-color $float-action-button-color
    color $white
    border 1px solid darken($float-action-button-color, 2%)

    &:hover
        background-color darken($float-action-button-color, 5%)

    &:active
        background-color darken($float-action-button-color, 10%)