@import "./_colors.styl"
@import "./_fonts.styl"

* 
    margin 0
    padding 0
    box-sizing border-box

#app
    color $color
    background-color $bg-color
    font-family SVN-Gilroy
    font-weight normal
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

input
    border solid 2px $input-color
    outline none

    &:focus
        border solid 2px $primary-color

button
    border none
    font-family SVN-Gilroy
    color white

a
    color $primary-color

.text-emphasis
    color $primary-color

// MAIN LAYOUT STYLES

// SIDENAV STYLES
.sidenav-container
    background-color $primary-color
    border-right: 1px solid #e3eff6

    .nav-item
        padding 4px 0
        border 1px solid $primary-border-color
        border-bottom none
    
        &:last-child
            border-bottom 1px solid $primary-border-color

        &:hover
            background-color $primary-selected-color

        &.active
            background-color $primary-selected-color
    
    a
      color $white

.bg-primary 
  background-color $primary-color

// TOOLBAR STYLES 
.toolbar
    background-color $white

.user-info
    .user-data
        .user-occupation
            color $primary-color

// MAIN PAGE STYLES
.categories-list-container
    background-color $side-bg-color


// GENERAL COMPONENTS STYLES

// BADGE STYLES
.badge
    color $white
    background-color $primary-color

    &.urgent
        background-color $red

    &.important
        background-color $yellow

// PILL STYLES
.pill
    color $white
    background-color $primary-color

    &.urgent
        background-color $red

    &.important
        background-color $yellow